.product-image-container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: .5rem;
  }

  .product-image {
    height: 200px !important; /* Alto deseado */
    overflow: hidden; /* Esconde el contenido extra si es necesario */
    background-color: white;
    display: inline-block;
    align-content: center;
  }

  .product-image img.hight-is-greater {
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
  }